<html>
<head>
  <title>Mi blog - Página principal</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8" >
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
  <style>
  .post {
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 1px solid #000000;
    padding: 10px 10px 10px 10px;
    margin-bottom: 10px;
  }
  </style>
</head>
<body class="container">
  <h1>Mi Blog</h1>
  <h2>Mis publicaciones</h2>
  <div>
    <div class="post">
      <h3><a href="">Learn TensorFlow and deep learning, without a Ph.D.</a></h3>
      <a href="#">Tecnología</a>
      <a href="#">Actualidad</a>
    </div>
    <div class="post">
      <h3><a href="https://www.nytimes.com/2017/03/25/us/politics/trump-health-care-defeat-gop-civil-war.html?_r=0">Trump Becomes Ensnared in Fiery G.O.P. Civil War</a></h3>
      <a href="#">Política</a>
    </div>
    <div class="post">
      <h3><a href="https://www.wired.com/2016/12/review-oculus-touch/">Review: Oculus Touch GRASPING AT GREATNESS</a></h3>
      <a href="#">Entretenimiento</a>
      <a href="#">Tecnología</a>
    </div>
  </div>

</body>
</html>
